@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* use for hexafund font  */

:root {
  --primary-color: #2a5981;
  --text-dark: #0f172a;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  min-height: 100vh;
  background-image: linear-gradient(rgba(16,42,48,255), rgba(10, 36, 47, 0.9))
    ,url("../images/business-funding.jpg"); 
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  isolation: isolate;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  z-index: 9;
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  padding-top: 10px;
}

.nav__logo img {
  max-width: 200px;
  margin-right: -70px;
  margin-bottom: 17px;
}

.nav__logo a{
  margin-left: -90px;
}

.nav__logo span {
  font-size: 1.75rem;
  font-weight: 500;
  color: white;
  display: flex;
  margin-right: 50px;
}

.nav__links {
  list-style: none;
  position: absolute;
  width: 100%;
  padding: 2rem;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: rgba(9, 24, 29, 0.9);
  transform: translateY(-100%);
  transition: 0.5s;
  z-index: -1;
  padding: 0;
  width: unset;
  position: static;
  transform: none;
  flex-direction: row;
  background-color: transparent;
}

.nav__links a {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--white);
  transition: 0.3s;
}

.nav__links a:hover {
  color: var(--primary-color);
}

.container__content {
  /* text-align: center; */
  text-align: left;
  padding-left: 20px;
  margin-top: 60px;
}

.container__content h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 5rem;
  /* color: rgba(29,243,241,255); */
  color: rgba(37, 150, 190);
}
.container__content h2 {
  /* margin-inline: auto; */
  text-align: left;
  padding-left: 20px;
  margin-bottom: 1rem;
  max-width: 450px;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: white;
  animation-delay: 0.4s;
}

.container__content p {
  /* margin-inline: auto; */
  text-align: left;
  padding-left:20px;
  margin-bottom: 4rem;
  max-width: 450px;
  color: white;
  animation-delay: 0.9s;
}


  nav {
    height: 50px;
    padding: 2rem 1rem;
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav__bar {
    padding: 0;
    background-color: transparent;
  }


  .container__content a {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    right: 250px; 
    /* color: rgb(32, 142, 232); */
    font-size: 25px;
    /* text-decoration: underline; */
    animation-delay: 1s;
  }

  .btnSignUp{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(#488adf, #6ebdf2);
    border-radius: 30px;
    border-top-right-radius: 30px;
    transition: 0.5s;
  }

  footer {
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 50px;
    position: absolute; 
    bottom: 0px;
    width: 100%;
}

.anim{
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.btnSignUp:hover{
  border-top-right-radius:0px;
}