@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* 
  .Reject{
    transform: translate(120%);
    position: absolute;
    bottom: 96px;
  } */

body {
  /* padding-top:100px; */
  background-image: linear-gradient(#00111b, #336380);
  font-family: "Poppins", sans-serif;
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.main {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

/*nav bar things*/


.nav__logo {
  float: left;
}

.nav__logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-right: 700px;
}

.nav__logo img {
  width: 90px;
  height: 50px;
  border-radius: 50%;
  /* margin-right: 10px; */
}

.nav__logo span {
  /* font-weight: bold;
  font-size: 20px; */
  font-size: 1.75rem;
  font-weight: 500;
  color: white;
  display: flex;
  margin-left: -20px;
  margin-top: 10px;
}

.nav__links {
  float: right;
  margin: 20px;
  padding: 0;
  list-style-type: none;
}

.nav__links li {
  display: inline-block;
  margin-left: 20px;
}

.nav__links li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav__links li a:hover {
  color: #3e8485;
}

.containerInfo {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 1rem;
  background-color: white;
}


.containerImage {
  height: 550px;
  padding: 30px;
  border: 1px solid grey;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
}

/* .containerImage img {
    max-width: 80%;
    max-height: 80%;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 1rem;
    margin-left: 50px;
    margin-top: 30px;
  } */

.containerImage .pdf {
  max-width: 80%;
  max-height: 80%;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 1rem;
  margin-inline: auto;
  margin-top: -5px;
}

.containerImage button {
  padding: 3px;
}

.containerImage h1 {
  text-align: center;
}

/* .ViewAttachment {
    width: 150px;
    height: 35px;
    position: absolute;
    bottom: 50px;
    left: 50%; 
    transform: translateX(-200%); 
} */

footer {
  /* background-color:#001e30;  */
  padding-block: 2 0px;
  text-align: center;
  color: white;
  height: 40px;
  width: 100%;
}

footer p {
  margin: 0px;
}

.ViewApplication:hover,
.viewCV:hover,
.viewOther:hover {
  background-color: #8398db;
  color: white;
}

.Accept:hover {
  background-color: #70c573;
}

.Reject:hover {
  background-color: #d11a1a;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}