body {
    max-height: 600px;
    margin: 0px;
}

a:any-link {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgba(0, 100, 64, 255);
}

nav {
    margin-right: 10px;
}

header {
    background-color: rgba(0, 62, 64, 255);
    color: white;
    display: flex;
    padding: 0%;
    justify-content: space-between;
    align-items: center;
    font-size: 16px; 
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(150, 187, 186, 255);
    margin: 0;
    padding: 0;
}

#logo {
    width: 150px;
    height: auto;
    background-color: rgba(150, 187, 186, 255);
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
}

footer {
    background-color: rgba(0, 62, 64, 255);
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 14px; 
    height: 50px; 
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.big-button {
    font-size: 2em;
    border-radius: 1rem;
    margin: 1rem;
}
.big-button:hover {
    transform: scale(1.04);
}


.nav-button {
    background-color: transparent;
    font-size: 1.2rem;
    border: none;
    color: white;
    margin-right: 0.5rem;
}
.nav-button:hover {
    transform: scale(1.04);
}