body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(140, 187, 186, 255);
}

nav {
    margin-right: 10px;
}

a:any-link {
    text-decoration: none;
    color: black;
}

#logo {
    width: 150px;
    height: auto;
    background-color: rgba(150, 187, 186, 255);
}

header {
    background-color: rgba(0, 62, 64, 255);
    color: white;
    display: flex;
    padding: 0%;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

main {
    padding: 20px;
}

.scrollable-container {
    height: 60vh;
    overflow-y: auto;
    /* Enable vertical scroll */
}

#requests {
    margin-top: 20px;
}

.request-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.request-card h3 {
    margin-top: 0;
}

.action-buttons button {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

#refresh-btn {
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
}

.approve-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
}

.deny-btn {
    background-color: #f44336;
    color: white;
    border: none;
}

footer {
    background-color: rgba(0, 62, 64, 255);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.nav-button {
    background-color: transparent;
    font-size: 1.2rem;
    border-radius: 4px;
    border: none;
    color: white;
    margin-right: 0.5rem;
    cursor: pointer;
    padding: 5px 10px;
  }
  .nav-button:hover {
    background-color: #001e30;
    transform: scale(1.04);
    cursor: pointer;
  }
  
  a:hover {
    cursor: pointer;
  }